# pandas and numpy
-PANDAS -  python library for data analytics with 2 data structures.
-series - column
-dataframe - a table

In [ ]:
import pandas as pd
df =pd.read_csv(r"Excel_jumia (1).csv")

df.head() #first 5 rows

,Product,Current price,old price,Discount,Review,Ratingd
0,115 Piece Set Of Multifunctional Precision Sc...,KSh 950,"KSh 1,525",38%,(2),4.5 out of 5
1,Metal Decorative Hooks Key Hangers Entryway Wa...,KSh 527,KSh 999,47%,(14),4.1 out of 5
2,Portable Mini Cordless Car Vacuum Cleaner - Blue,"KSh 2,199","KSh 2,923",25%,(24),4.6 out of 5
3,Weighing Scale Digital Bathroom Body Fat Scale...,"KSh 1,580","KSh 2,499",37%,(7),4.7 out of 5
4,Portable Home Small Air Humidifier 3-Speed Fan...,"KSh 1,740","KSh 2,356",26%,(5),4.8 out of 5

In [ ]:
df.tail() #last 5 rows

,Product,Current price,old price,Discount,Review,Ratingd
110,Shower Nozzle Cleaning Unclogging Needle Mini ...,"KSh 1,658","KSh 1,699",2%,NaN,NaN
111,Thickening Multipurpose Non Stick Easy To Clea...,"KSh 1,768","KSh 1,799",2%,NaN,NaN
112,6 In 1 Bottle Can Opener Multifunctional Easy ...,KSh 199,KSh 553,64%,NaN,NaN
113,Wall-mounted Sticker Punch-free Plug Fixer,KSh 450,KSh 900,50%,(1),2 out of 5
114,Black Simple Water Cup Wine Coaster Anti Slip ...,KSh 169,KSh 320,47%,NaN,NaN

In [3]:
#to see no. of rows and columns
df.shape

(115, 6)

In [5]:
#to get more info about your dataset

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115 entries, 0 to 114
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Product        115 non-null    object
 1   Current price  115 non-null    object
 2   old price      115 non-null    object
 3   Discount       115 non-null    object
 4   Review         57 non-null     object
 5   Ratingd        57 non-null     object
dtypes: object(6)
memory usage: 5.5+ KB

In [ ]:
#checking for nulls
df.isnull().sum()

Product           0
Current price     0
old price         0
Discount          0
Review           58
Ratingd          58
dtype: int64

# RULES WHEN FILLING IN NULL VALUES
 - statistical distributions -> df.sth
 - fill missing data - u can fill using either mean, mode ,median, unknown or 0
 - we use mean when our data is symmetrical(no outliers)
 - we use mode when certain data shows up most of the time
 - we use median when your data has outliers - cause median is never affected by outliers
 - use zero when using numerical data that you know your suupposed touse zeroes
- use unknown for categorical data

In [16]:
df["Review"] = df["Review"].fillna("unknown")
df["Ratingd"] = df["Ratingd"].fillna("unknown")
df.info()

TypeError: 'NoneType' object is not subscriptable